/* 
Paleta de colores
:root representa al html el igual al selector "html" con la diferencia
de que :root tiene mayor especificidad (0,1,0) que el selector html (0,0,1)
*/
:root {
	/* variables en css */
	--blanco: #fff;
	--oscuro: #212121;
	--primario: #ffc107;
	--secundario: #0097a7;
	--gris: #757575;
}

/* Globales */

html {
	font-size: 62.5%; /* 10/16 = 0.625 -> 62.5% */
	/* Sirve para arreglar el descuadre del css con el diseño planeado
	el padding y margin ya no forman parte de la medida con los elementos */
	box-sizing: border-box; /* hack para box-model */
}

*,
*::before,
*::after {
	box-sizing: inherit; /* hereda el truco box-model para cualquier pseudo elemento before y after */
}

body {
	font-size: 16px;
	font-family: 'Krub', sans-serif;
}

.contenedor {
	max-width: 120rem; /* toma 1200px de ser posible */
	margin: 0 auto 0 auto;
}

.boton {
	background-color: var(--secundario);
	color: var(--blanco);
	padding: 1rem 3rem;
	margin-top: 1rem;
	font-size: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: .8rem;
	width: 90%;
	text-align: center;
}

.boton:hover {
	background-color: var(--primario);
	color: var(--oscuro);
}

@media (min-width: 768px) {
	.boton {
		width: auto;
	}
}

/* estilos y tamaños de headings usados
tipogragia */
h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 1.8rem;
}

h1,
h2,
h3 {
	text-align: center;
}

/* Titulos */

.titulo span {
	font-size: 2rem;
}

/* Navegación principal */
.nav-bg {
	background-color: var(--secundario);
}

.navegacion-principal ul {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	margin-bottom: auto;
}

/* Hereda estilos de la clase .navegacion-principal ul*/
/* celular */
@media (max-width: 480px) {
	.navegacion-principal ul {
		flex-direction: column;
	}
}

.navegacion-principal li {
	display: inline;
}

.navegacion-principal a {
	text-align: center;
	color: var(--blanco);
	text-decoration: none;
	font-size: 2.1rem;
	font-weight: 700;
	padding: 0.84rem;
}

.navegacion-principal a:hover {
	background-color: var(--primario);
	color: var(--oscuro);
}

/* Clase hero (header / jumbotron) */
.hero {
	background-image: url('../img/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	position: relative;
}

.contenido-hero {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6); /* forma tradicional */
	/* background-color: rgba(0 0 0 / 70%); */ /* forma nueva (poco soporte) */
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contenido-hero h2,
.contenido-hero p {
	color: var(--blanco);
}
