/* 
Paleta de colores
:root representa al html el igual al selector "html" con la diferencia
de que :root tiene mayor especificidad (0,1,0) que el selector html (0,0,1)
*/
:root {
	/* variables en css */
	--blanco: #FFF;
	--oscuro: #212121;
	--primario: #FFC107;
	--secundario: #0097A7;
	--gris: #757575;	
}

html {
	font-size: 62.5%; /* 10/16 = 0.625 -> 62.5% */
}

body {
	font-size: 1.6rem;
	font-family: 'Krub', sans-serif;
}

.titulo {
	text-align: center;
	font-size: 3.8rem;
}

.titulo span {
	font-size: 2rem;
}

.contenedor {
	width: 120rem;
	margin: 0 auto 0 auto;
}

.nav-bg {
	background-color: var(--secundario);
}

.navegacion-principal ul{
	padding: 1rem;/*temp  */
	display: flex;
	justify-content: space-around;
}

.navegacion-principal li{
	display: inline;
}

.navegacion-principal a{
	color: var(--blanco);
	text-decoration: none;
	font-size: 2.1rem;
	font-weight: 700;
	padding: .84rem;
}

.navegacion-principal a:hover{
	background-color: var(--primario);
	color: var(--oscuro);
}